<!DOCTYPE html>
<html lang="en">
    {% load static %}
  
    
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliCheck</title>
    <link rel="stylesheet" href="{% static 'Style_Teacher.css' %}">
   
</head>

<body>
   
    <nav>
        <ul>
            <li class="brand"> <span class="easyqueue-text">IntelliCheck</span></li>
            <li> <a class="nav-link" href="/Teacher_Dashboard/">Create Assingment</a> </li>
            <li> <a class="nav-link" href="/showassigmentst/">Show Assingment</a></li>
            <li> <a class="nav-link" href="/Update_Assingment/">Update/Delete Assingment</a></li>
            <li class="nav-item"> <a class="nav-link" href="/Teacher_logout/">Logout</a> </li>
        </ul>
    </nav>
    <div class="hero">
        <div class="form-box">
           
            <h1 class = "heading">Create Assingment</h1>
            <form id = "Assingment" class="input-group" method = "POST" action = "{% url 'Sassingment' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" class="input-field" placeholder="Assingmnet Name" name = "Assingmnet_Name"required>
                <label for="Deadline"class = "date" >Deadline:</label>
                <input type="datetime-local" id="Deadline" name="Deadline" class = "dt" name = "deadline">
                <input type="file" id="myfile" name="file" class="file">
                <button type="submit" class="submit-button1"> Create Assingmnet and Generate Key</button>
            </form>
            
        </div>
    </div>
</body>